<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mikyan.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="cn.mikyan.pojo.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="faceimage" jdbcType="VARCHAR" property="faceimage" />
    <result column="faceimage_big" jdbcType="VARCHAR" property="faceimageBig" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="qrcode" jdbcType="VARCHAR" property="qrcode" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="appkey" jdbcType="VARCHAR" property="appkey" />
  </resultMap>
</mapper>